.box {
    height: 6.5em;
    inline-size: 15em;
    writing-mode: horizontal-tb;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.boxDivs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;

    column-count: 1;
    
}
.d {
    margin-block: 1.25em;
    padding-inline-end: 4em;
    padding-block-start: 2px;
    border-block-start: 0.25em solid #5390F5;
    border-block-end: 1em double #5390F5;

    font-size: x-large;

    text-align: center;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
